@import "variables.less";
@import "transitions.less";
@import "icons.less";
@import "vuebar.less";

@font-face {
    font-family: 'Segoe UI';
    src: url('~assets/fonts/SegoeUI.eot');
    src: url('~assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/SegoeUI.woff') format('woff'),
    url('~assets/fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width : @tabletBreakpoint) {
    .mobile-only{
        display: none !important;
    }
}

@media only screen and (max-width : @largestMobileScreen) {
    body{
        background: @tohDarkBg;
    }

    //For mobile-only modal windows (like menu)
    body.mobile-modal{
        overflow: hidden;
    }

    .mobile-hidden{
        display: none !important;
    }
}