.toh-panel{
    background: @tohLightBg;
    box-shadow: 0 0px 1px @tohShadow;
    padding: 15px;
    margin-bottom: 20px;
    transition: .3s;
    
    &.hoverable{
        cursor: pointer;
        position: relative;
        overflow: hidden; 

        &:before{
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            background: @tohLightHover;
            transition: all .3s;
            max-width: 0px;
        }
        &:hover:before{
            max-width: 100%;
        }

        *{
            z-index: 1;
        }
    }
}

@media only screen and (max-width : @largestMobileScreen) {
    .toh-panel{
        border-radius: @tohButtonBorderRadius;
        box-shadow: none;
    }
}