.icon-inline{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: 2px;
    background: 0 0 no-repeat;
    background-size: auto 100%;
    vertical-align: top;
    text-transform: uppercase;
    mask: no-repeat;
    mask-size: contain;
}

.icon-inline.bars{
    mask: url(~assets/svg/bars.svg) no-repeat;
}

.icon-inline.home{
    mask-image: url(~assets/svg/home.svg);
    width: 1em;
}

.icon-inline.gamepad{
    mask-image: url(~assets/svg/gamepad.svg);
    width: 1.1em;
}

.icon-inline.clan{
    mask-image: url(~assets/svg/clan.svg);
    width: 0.95em;
}