/*   
*    Custom variables for colors and etc. 
*    included by /utils/semantic/src/site/globals/site.variables to link all custom var-s to semantic components
*/

//Semantic UI Variables
@primaryColor: @tohPrimaryColor;
@basicBorderRadius: @tohButtonBorderRadius;
@defaultBorderRadius: @tohButtonBorderRadius;
@fontName: @tohFontName;
@largeMonitorBreakpoint: 1250px;

//Site Variables
@tohFontName: 'Segoe UI';

@tohDarkBg: #171E2E;
@tohDarkText: #fff;
@tohPrimaryColor: #00ABFF; //Primary color
@tohButtonBorderRadius: 2px;
